<h1> Add A Greyhound to Your Kennel! </h1>

<form action='/greyhounds' method="POST">
  Your Greyhound Name: <input type="text" name="name"><br>
  Your Greyhound Food: <input type="text" name="food"><br>
  Your Greyhound Race Time: <input type="text" name="time"><br>
  Your Greyhound Racing Grade: <input type="text" name="grade"><br><br>


  <input class="btn btn-primary" type="submit" value="submit">
</form>
