<h1> Add A Greyhound to Your Kennel! </h1>

<form action='/greyhounds' method="POST">
  Your Greyhound Name: <input type="text" name="name"><br>
  <input class="btn btn-primary" type="submit" value="submit">
</form>
