<h2>Create Your Very Own Kennel!</h2>

<% if !locals.empty? %>
<%= message %>
<% end %>

<h3>Sign up</h3>
<form action='/signup' method="POST">
  Kennel Name: <input type="text" name="name"><br>
  Kennel Email: <input type="text" name="email"><br>
  Password <input type ="password" name="password"><br>
  <input class="btn btn-primary" type="submit">
</form>
