<h2>Welcome to the Greyhound Kennel Database!</h2>

<img src="funny-dogs.jpg"><br><br><br>

<% if logged_in? %>
<h2>Welcome, <%=current_kennel.name%></h2>
<a href="/greyhounds/new"> Create Greyhound for your Kennel</a><br>
<br>
<br>
<a href="/logout"> Log Out </a>


<% else %>
<p> Please Sign up or Sign in</p>
<a href="/signup">Sign Up</a><br><br>
<a href="/login"> Sign In </a>
<% end %>
