<h2>Welcome to the Greyhound Kennel Database!</h2>

<blockquote class="imgur-embed-pub" lang="en" data-id="a/y9IeHU6"><a href="//imgur.com/y9IeHU6"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script><br><br><br>

<% if logged_in? %>
<h2>Welcome, <%=current_kennel.name%></h2>
<a href="/greyhounds/new"> Create Greyhound for your Kennel</a><br>
<br>
<br>
<a href="/logout"> Log Out </a>


<% else %>
<h4> Please Sign up or Sign in</h4><br><br>
<a href="/signup">Sign Up</a><br><br>
<a href="/login"> Sign In </a>
<% end %>
